.bangumiStyle {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.hoverPart {
    font-size: 11pt;
    margin-top: 10px;
    text-align: center;
}

.hoverPart:hover {
    cursor: pointer;
}

.title {
    padding-top: 3%;
}