.textStyle {
    font-family: 'PT Sans Caption', sans-serif;
    text-align: center;
    font-size: 12pt;
}

.clickStyle {
    font-family: 'PT Sans Caption', sans-serif;
    text-align: center;
    font-size: 10pt;
    text-decoration: underline;
    padding-bottom: 10px;
}

.clickStyle:hover{
    cursor: pointer;
    color: blue;
}

.listStyle {
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 10pt;
    line-height: 1.5em;
    margin-left: 0;
}