.avatarStyle {
    transform: scale(2);
}

.avatarStyle:hover {
    cursor: pointer;
}

.replyAvatarStyle:hover {
    cursor: pointer;
 }

.usernameStyle {
    margin-bottom: 10px;
    display: flex;
}