.avatarStyle {
    transform: scale(1.5);
    margin-top: 20px;
}

.avatarStyle:hover {
    cursor: pointer;
}

.replyAvatarStyle {
    transform: scale(0.95);
}

.replyAvatarStyle:hover {
    cursor: pointer;
 }

.usernameStyle {
    margin-bottom: 10px;
    display: flex;
}