.numberlistStyle {
    margin: 2% 2% 1% 7%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.title {
    font-family: 'PT Sans Caption', sans-serif;
    margin-left: 2%;
    padding-top: 1%;
}

.bangumiSection {
    margin: 1% 0% 1% 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.hoverStyle:hover{
    cursor: pointer;
}

.textSection {
    margin-left: 20px;
    font-size: 10pt;
    p {
        margin-top: 20px;
        line-height: 1.2em;
    }

    h3 {
        margin-top: 5px;
        font-size: 11pt;
    }
}
