.pageContainer {
    width: 100%;
    background: #ffffff;
    padding-bottom: 80%;
    padding-top: 10%;
    background-color: white;
}

.imageStyle {
    display:block;
    margin: 0 auto;
}

.textStyle {
    font-family: 'PT Sans Caption', sans-serif;
    text-align: center;
    font-size: 14pt;
    width: 100%;
}