.pageStyle {
    background: white;
}

.bangumiSection {
    margin: 1% 2% 1% 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.titleStyle {
    margin: 2% 2% 0% 2%;
}

.hoverStyle:hover{
    cursor: pointer;
}

.bangumiTitle:hover{
    cursor: pointer;
    color: rgba(30, 150, 255, 1);
}

.textSection {
    margin-bottom: 20px;
    white-space: normal;
    width: 170px;
    p {
        margin-top: 20px;
        line-height: 1.4em;
        font-size: 9pt;
    }
    h3 {
        font-size: 10.5pt;
    }
}