.pageStyle {
    background: white;
}

.bangumiSection {
    margin: 1% 2% 1% 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.titleStyle {
    margin: 2% 2% 0% 2%;
}

.hoverStyle:hover{
    cursor: pointer;
}

.textSection {
    margin-bottom: 20px;
    font-size: 10pt;
    white-space: normal;
    width: 170px;
    p {
        margin-top: 20px;
        line-height: 1.2em;
    }
    h3 {
        margin-top: 5px;
        font-size: 12pt;
    }
}