.bangumiContainer {
    background: white;
}

.bangumiSection {
    padding: 2% 15% 2% 15%;
    font-family: 'PT Sans Caption', sans-serif;
}
.bangumiStyle {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.hoverPart {
    font-size: 10pt;
    margin-top: 10px;
}

.hoverPart:hover {
    cursor: pointer;
}

.numberlistStyle {
    padding: 2% 12% 0% 12%;
    display: flex;
    justify-content: space-around;
}

