.introStyle{
    font-family: 'PT Sans Caption', sans-serif;
    width: 100%;
    height: 100%;
    padding: 3% 5% 3% 5%;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    box-sizing:border-box;
    position: relative;
    z-index: 0;
    color: white;
}

.introStyle:after{
    content: "";
    width: 60%;
    height: 100%;
    position: absolute;
    background: inherit;
    transform: scale(2);
    -webkit-filter: blur(15px) brightness(75%);
    filter: blur(15px) brightness(75%);
    z-index: -1;
}

.titleStyle {
    font-size: 16pt;
    white-space: normal;
    width: 400px;
}

.textSectionStyle {
    margin: 20px 20px 20px 50px;
    font-family: 'PT Sans Caption', sans-serif;
}

.genreListStyle {
    margin-top:10px;
    display: flex;
    flex-wrap: wrap;
    white-space: normal;
    width: 400px;
}

.genreStyle {
    border: 2px solid white;
    border-radius: 5px;
    font-size:13pt;
    padding: 5px 10px 5px 10px;
    margin: 5px 10px 5px 0px;
}

.episodeStyle {
    display: flex;
    justify-content: space-around;
    font-size: 12pt;
    margin-top: 10px;
    white-space: normal;
    width: 420px
}

.producerStyle {
    display: flex;
    flex-wrap: wrap;
    white-space: normal;
    width: 410px;
    p {
        padding-right: 10px;
        font-size: 12pt;
    }
}

.studioStyle {
    padding-top: 10px;
    display: flex;
    white-space: normal;
    width: 400px;
    p {
        padding-right: 10px;
        font-size: 12pt;
    }
}