.bangumiContainer {
    background: white;
}

.bangumiSection {
    padding: 2% 14% 2% 14%;
    font-family: 'PT Sans Caption', sans-serif;
}
.bangumiStyle {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.hoverPart {
    font-size: 10pt;
    margin-top: 10px;
}

.hoverPart:hover {
    cursor: pointer;
}

.numberlistStyle {
    font-size: 12pt;
    font-family: 'PT Sans Caption', sans-serif;
    padding: 2% 15% 0% 15%;
    display: flex;
    justify-content: space-around;
}

.numberStyle:hover {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}