.pageStyle {
    background: white; 
}

.hoverPart {
    font-size: 13pt;
    margin-top: 5px;
    color: rgba(30, 144, 255, 1);
}

.hoverPart:hover {
    color: rgba(255, 100, 200, 1);
    cursor: pointer;
}

.introStyle {
    font-size: 11pt;
    margin-top: 10px;
    color: rgba(120, 120, 120, 0.8);
}

.numberlistStyle {
    padding: 2% 10% 2% 10%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.numberStyle {
    font-size: 14pt;
}

.bangumiSection {
    padding: 2% 8% 2% 8%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}