.pageStyle {
    background: white; 
}

.hoverPart {
    font-size: 14pt;
    margin-top: 5px;
    //text-align: center;
}

.hoverPart:hover {
    cursor: pointer;
}

.numberlistStyle {
    padding: 2% 15% 2% 15%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.numberStyle {
    font-size: 14pt;
}

.bangumiSection {
    padding: 2% 8% 2% 8%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}