.title {
    color: rgba(60, 60, 60, 0.7);
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 30pt;
    padding-top: 30px;
}

.subtitle {
    padding-top: 3%;
    padding-bottom: 1.5%;
}

.container {
    padding-bottom: 15%;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
}

.imageStyle {
    width: 40%;
    margin-top: 3%;
    margin-left: 15%;
    background-image: url('./background.jpg');
    background-size: auto 80%;
    background-position: center;
    background-repeat: no-repeat;
}