.homeStyle {
    background: white;
    font-family: 'PT Sans Caption', sans-serif;
}

.pageContainer {
    padding-bottom: 80%;
    padding-top: 10%;
    background-color: white;
}

.imageStyle {
    display: block;
    max-width: 250px;
    height: auto;
    margin: 0 auto;
}

.textStyle {
    text-align: center;
    font-size: 14pt;
    width: 100%;
}

.footer {
    text-align: center;
    width: 100%;
    margin-top: 2%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    background: rgba(255, 120, 195, 1);
    color: white;
}