.backgroundStyle {
    width: 100%;
    height: 240px;
    background-color: white;
    background-image: url('./background.jpg');
    background-size: 950px auto;
    background-position: center;
    background-repeat: no-repeat;
}

.titleStyle {
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 11pt;
    padding: 2% 3% 2% 3%;
}

.titleStyle:hover{
    cursor: pointer;
    background: rgba(235, 235, 235, 0.7);
    border-radius: 2px;
}

.searchbarStyle {
    width: 250px;
    display: block;
    position: absolute;
    padding-top: 180px;
    right: 200px;
    z-index: 1;
}