.scoreStyle{
    width: 100%;
    height: 100%;
    padding: 4% 10% 4% 10%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
    z-index:-1;
    color: white;
}

.scoreStyle:after{
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    background: inherit;
    filter: blur(10px) brightness(75%);
    transform: scale(2);
    z-index: -2;
}

.genreListStyle {
    display: flex;
    justify-content: space-around;
}

.genreStyle {
    font-size:12pt;
}

.introStyle {
    padding: 3% 8% 15% 2%;
    background: white;
}