.loadingStyle {
    font-size: 14pt;
    padding-bottom: 20px;
    text-align: center;
}

.noRecommendStyle {
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 1% 10% 1% 10%;
    width: 50%;
    height: 220px;
    font-size: 25pt;
    border-radius: 5px;
    color: rgba(100, 100, 100, 0.6);
    background: rgba(225, 225, 225, 0.5);
}

.recommendStyle {
    margin: 2% 10% 2% 10%;
}

.titleStyle {
    margin-top: 10px;
    font-size: 12pt;
    text-align: center;
    line-height: 1.2em;
}

.hoverPart:hover{
    cursor: pointer;
}

.scoreStyle {
    padding-top: 5px;
    color: rgba(255, 180, 94, 1);
}

.bangumiStyle {
    display: flex;
    flex-wrap: wrap;
}