.pageStyle {
    background: white;
    display: flex;
}

.selectStyle {
    height: 180px;
    margin-top: 100px;
    margin-right: 12%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.selectCss {
    width: 150px;
    margin-right: 10px;
}

.bangumiSection {
    margin: 2% 1% 0% 12%;
    font-family: 'PT Sans Caption', sans-serif;
}
.bangumiStyle {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.hoverPart {
    font-size: 10pt;
    margin-top: 7px;
}

.hoverPart:hover {
    cursor: pointer;
    color: rgba(30, 144, 255, 1);
}

.numberlistStyle {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-bottom: 20px;
}

.pageContainer {
    height: 100vh;
    padding-top: 15%;
    background-color: white;
}

.imageStyle {
    display: block;
    max-width: 250px;
    height: auto;
    margin: 0 auto;
}

.textStyle {
    text-align: center;
    font-size: 14pt;
    width: 100%;
    padding-top: 10px;
}