.pageStyle {
    background: white;
}

.selectStyle {
    padding-top: 1%;
    padding-left: 13%;
    display: flex;
    align-items: flex-start;
}

.selectCss {
    width: 150px;
    margin-right: 10px;
}

.bangumiSection {
    margin: 2% 13% 2% 15%;
    font-family: 'PT Sans Caption', sans-serif;
}
.bangumiStyle {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.hoverPart {
    font-size: 11pt;
    margin-top: 10px;
}

.hoverPart:hover {
    cursor: pointer;
}

.numberlistStyle {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.pageContainer {
    height: 100vh;
    padding-top: 15%;
    background-color: white;
}

.imageStyle {
    display: block;
    max-width: 250px;
    height: auto;
    margin: 0 auto;
}

.textStyle {
    text-align: center;
    font-size: 14pt;
    width: 100%;
    padding-top: 10px;
}