.navibarStyle {
    width: 100%;
    height: auto;
    background: rgba(255, 120, 195, 1);
}

.imageStyle {
    position: absolute;
    z-index: 2;
    font-size: 15pt;
    float: right;
    margin: 1% 2% 1% 0%;
    transition: transform 0.4s;
}

.imageStyle:hover{
    cursor: pointer;
}

.usermenuStyle:hover{
    .imageStyle {
        transform: scale(1.8, 1.8) translateY(50%);
    }
}