.bangumiSection {
    padding: 1% 14% 1% 14%;
    font-family: 'PT Sans Caption', sans-serif;
}

.bangumiStyle {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.hoverPart {
    font-size: 11pt;
    padding-top: 10px;
}

.hoverPart:hover {
    cursor: pointer;
}

.viewMoreStyle {
    font-size: 12pt;
}

.viewMoreStyle:hover {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}