.backgroundStyle {
    display: block;
    width: 100%;
    height: 220px;
    background-color: white;
    background-image: url('./background.jpg');
    background-size: 700px auto;
    background-position: center;
    background-repeat: no-repeat;
}