.title {
    color: rgba(60, 60, 60, 0.7);
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 30pt;
    padding-top: 30px;
}

.subtitle {
    margin-top: 20px;
    margin-bottom: 15px;
}

.container {
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
}

.imageStyle {
    margin-top: 5%;
    margin-left: 8%;
    width: 35%;
    background-image: url('./background.jpg');
    background-size: auto 70%;
    background-position: center;
    background-repeat: no-repeat;
}