.searchResultStyle {
    margin-top: 20px;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 50px
}

.titleStyle {
    font-size: 16pt;
    color: rgba(30, 144, 255, 1);
}

.titleStyle:hover {
    color: rgba(255, 100, 200, 1);
}

.headStyle {
    font-size: 14pt;
    font-family: 'PT Sans Caption', sans-serif;
    color: rgba(100, 100, 100, 0.7);
}

.wordStyle {
    font-size: 12pt;
    margin: 1% 3% 1% 3%;
    color: rgba(100, 100, 100, 0.7);
    column-gap: 2em;
}

.wordStyle:hover {
    cursor:pointer;
}

.imageHoverStyle:hover {
    cursor: pointer;
}

.numberlistStyle {
    padding-top: 10%;
    padding-right: 10%;
    padding-left: 5%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footerStyle {
    margin-top:100px;
    width: 100%;
    height: 60px;
    color: white;
    background-color: rgba(200, 200, 200, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'PT Sans Caption', sans-serif;
}