.navibarStyle {
    width: 100%;
    height: auto;
    background: rgba(255, 120, 195, 1);
    position: relative;
    z-index: 2;
}

.imageStyle {
    position: absolute;
    z-index: 3;
    float: right;
    margin-top: 3px;
    transition: transform 0.4s;
}

.imageStyle:hover{
    cursor: pointer;
}

.usermenuStyle:hover{
    .imageStyle {
        transform: scale(1.8, 1.8) translateY(50%);
    }
}