.bangumiContainer {
    background: white;
}

.bangumiSection {
    padding: 2% 4% 2% 14%;
    font-family: 'PT Sans Caption', sans-serif;
}
.bangumiStyle {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.hoverPart {
    font-size: 10pt;
    margin-top: 10px;
}

.hoverPart:hover {
    cursor: pointer;
}