.bangumiContainer {
    background: white;
}

.bangumiSection {
    padding: 2% 12% 2% 12%;
    font-family: 'PT Sans Caption', sans-serif;
}
.bangumiStyle {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.hoverPart {
    font-size: 10pt;
    margin-top: 10px;
}

.hoverPart:hover {
    cursor: pointer;
    color: rgba(30, 144, 255, 1);
}