.pageStyle {
    background: white;
}

.selectStyle {
    padding-top: 1%;
    display: flex;
    justify-content: space-around;
}

.selectCss {
    width: 150px;
}

.bangumiSection {
    padding: 2% 15% 2% 15%;
    font-family: 'PT Sans Caption', sans-serif;
}
.bangumiStyle {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.hoverPart {
    font-size: 10pt;
    margin-top: 10px;
}

.hoverPart:hover {
    cursor: pointer;
}

.numberlistStyle {
    font-size: 12pt;
    font-family: 'PT Sans Caption', sans-serif;
    padding: 2% 10% 0% 10%;
    display: flex;
    justify-content: space-around;
}

.numberStyle:hover {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

.pageContainer {
    height: 970px;
    padding-top: 15%;
    background-color: white;
}

.imageStyle {
    display: block;
    max-width: 250px;
    height: auto;
    margin: 0 auto;
}

.textStyle {
    text-align: center;
    font-size: 14pt;
    width: 100%;
}